/build/
/coverage/
/dist/
/.release/
/test-build/
/release.json
/crier-native
/crier-native.exe
*.tmp
*.tmp.exe

/node_modules/
.DS_Store
/.idea/
/examples/changelog/release-*.png
/examples/dispat/announce/*/preview*.jpg
